USE [ROBIN_ANTASENA]
GO
/****** Object:  StoredProcedure [dbo].[SP_REV01_REVERSE_REPO]    Script Date: 20/05/2020 14:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_REV01_REVERSE_REPO]
	@REPORT_DT DATE
AS

--DECLARE @REPORT_DT DATE = '2020-04-30'

DECLARE @KLASIFIKASI_ASET VARCHAR(20), @KUALITAS VARCHAR(20),@STS_REPO VARCHAR(20)
SELECT @KLASIFIKASI_ASET=PAR_VALUE FROM SN_MS_BUSINESS_PARAM_HDR WHERE PAR_CD = 'AN_MAP_138'
SELECT @KUALITAS=PAR_VALUE FROM SN_MS_BUSINESS_PARAM_HDR WHERE PAR_CD = 'AN_MAP_139'
SELECT @STS_REPO=PAR_VALUE FROM SN_MS_BUSINESS_PARAM_HDR WHERE PAR_CD = 'AN_MAP_140'

DECLARE @PREV_MONTH_DT DATE
SELECT @PREV_MONTH_DT = MAX(REPORT_DT) FROM TR_TAGIH_SRT_BHRG_DJL_KEMB_B
WHERE DATEDIFF(MONTH,REPORT_DT, @REPORT_DT) = 1

SELECT 
	@REPORT_DT AS REPORT_DT
	,DEAL.BRANCH_CODE AS BRANCH
	,BR.REGULATOR_BRANCH_CD AS RG_BRANCH
	,'1' ID_OPRSNL
	,DEAL.ACCOUNT_NUMBER+REPLACE(MM.DEAL_TIKET,'-','') AS NO_REK
	,MM.KD_ISIN_OBLIGASI AS NO_UND
	,JNSUDR.PAR_VAL_MAP AS JNS_UND
	,NULL AS JNS_AKAD --SYARIAH
	,NULL AS KARAKTERISTIK_SUMBER_DANA --SYARIAH
	,JNSVAL.PAR_VAL_MAP AS JNS_VAL
	,CASE WHEN PLBANK.ID_PIHAK_LAWAN IS NULL THEN MM.CIF_NASABAH ELSE PLBANK.ID_PIHAK_LAWAN END AS ID_PIHAK_LWN
	,CASE --REQUIREMENT PAK RUDY. INI TDK BISA DI MAPPING KARENA ADA KONDISI.
		WHEN MM.CIF_NASABAH IN (SELECT PAR_VALUE FROM SN_MS_BUSINESS_PARAM_DTL WHERE PAR_CD='AN_MAP_134') THEN '10'	-- BI	
		WHEN MM.CIF_NASABAH IN (SELECT PAR_VALUE FROM SN_MS_BUSINESS_PARAM_DTL WHERE PAR_CD='AN_MAP_141') THEN '10' -- PEMERINTAH IND.
		WHEN CAST(MM.CIF_NASABAH AS INT) BETWEEN 0 AND 99999 THEN '35'
		WHEN CAST(MM.CIF_NASABAH AS INT) BETWEEN 100000 AND 299999 THEN '36'
		WHEN CAST(MM.CIF_NASABAH AS INT) BETWEEN 800001 AND 899999 AND DATEDIFF(DAY,MM.TGL_TRANS,MM.TGL_JTH_TEMPO)<=90 THEN '14'
		WHEN CAST(MM.CIF_NASABAH AS INT) BETWEEN 800001 AND 899999 AND DATEDIFF(DAY,MM.TGL_TRANS,MM.TGL_JTH_TEMPO)>90 THEN '15'
	END AS KATEGORI_PORTOFOLIO --BELOM ADA MAPPING.
	,MM.TGL_TRANS AS TGL_PENCATATAN
	,MM.TGL_JTH_TEMPO AS TGL_JTMPO
	,@KLASIFIKASI_ASET AS KLSFKS_AST_KEUGN
	,@KUALITAS AS KUALITAS
	,ROUND(MM.PERSENTASE,2) AS SKU_BNG_OR_PI
	,ROUND(NOMINAL_TRANS*KURS_TENGAH,0) AS NMINL_REVERSE_REPO
	,CASE WHEN (CASE WHEN PLBANK.ID_PIHAK_LAWAN IS NULL THEN CUST.COUNTRY_OF_RESIDENCE ELSE PLBANK.NEGARA END) <> 'ID' THEN ROUND(ISNULL(PREVMTH.JML_BLN_LPRAN,0),0) ELSE NULL END JML_BLN_LLU
	,CASE WHEN (CASE WHEN PLBANK.ID_PIHAK_LAWAN IS NULL THEN CUST.COUNTRY_OF_RESIDENCE ELSE PLBANK.NEGARA END) <> 'ID' THEN 0 ELSE NULL END AS JML_DBT
	,CASE WHEN (CASE WHEN PLBANK.ID_PIHAK_LAWAN IS NULL THEN CUST.COUNTRY_OF_RESIDENCE ELSE PLBANK.NEGARA END) <> 'ID' THEN 0 ELSE NULL END AS JML_KRDT
	,CASE 
		WHEN CASE WHEN PLBANK.ID_PIHAK_LAWAN IS NULL THEN CUST.COUNTRY_OF_RESIDENCE ELSE PLBANK.NEGARA END <> 'ID' THEN
			ROUND(NOMINAL_TRANS*KURS_TENGAH,0)-ROUND(PREVMTH.JML_BLN_LPRAN,0)+0-0  --DEBIT/KREDIT
		ELSE NULL
	END AS JML_LAINNYA
	,ROUND(NOMINAL_TRANS*KURS_TENGAH,0) AS JML_BLN_LPRAN
	,ROUND(MM.NOMINAL_BUNGA*KURS_TENGAH,0) AS PENBNG_OR_IMAKDI
	,@STS_REPO AS STATUS_REVERSE_REPO
	,NULL AS CADKRGN_PNRNL_AST_BAIK
	,NULL AS CADKRGN_PNRNL_AST_KBK
	,NULL AS CADKRGN_PNRNL_AST_TBK
	,'SYS' AS CREATED_BY
	,GETDATE() AS CREATED_DT
FROM STAGING_DB.DBO.STG_MANUAL_MM MM
INNER JOIN SN_MS_BUSINESS_PARAM_DTL FTR
	ON FTR.PAR_CD = 'AN_MAP_136'
	AND FTR.PAR_VALUE = LEFT(MM.DEAL_TIKET,3)
	AND ISNULL(FTR.PAR_VALUE,'') <>''
LEFT JOIN STAGING_DB.DBO.F_RR_DEAL DEAL
	ON DEAL.DEAL_TYPE+'-'+DEAL.DEAL_REFF = MM.DEAL_TIKET
	AND DEAL.REPORT_DATE = MM.BUS_DT
LEFT JOIN SN_MS_BRANCH BR 
	ON BR.BRANCH_CD = DEAL.BRANCH_CODE
	AND BR.UNIT = 'BUK'
LEFT JOIN SN_MS_BUSINESS_PARAM_DTL JNSUDR
	ON JNSUDR.PAR_CD = 'AN_MAP_137'
	AND JNSUDR.PAR_VALUE = LEFT(MM.KD_LOKL_OLIBGASI,PATINDEX('%[0-9]%',MM.KD_LOKL_OLIBGASI)-1)
	AND ISNULL(JNSUDR.PAR_VALUE,'') <> ''
LEFT JOIN SN_MS_BUSINESS_PARAM_DTL JNSVAL
	ON JNSVAL.PAR_CD = 'AN_MAP_003'
	AND JNSVAL.PAR_VALUE = MM.MATA_UANG
	AND ISNULL(JNSVAL.PAR_VALUE,'') <> ''
LEFT JOIN MS_PIHAK_LAWAN_BANK PLBANK
	ON PLBANK.CIF_NO = MM.CIF_NASABAH
LEFT JOIN STAGING_DB.DBO.F_RR_CUSTOMER CUST
	ON CUST.REPORT_DATE = MM.BUS_DT
	AND CUST.CUSTOMER_ID = MM.CIF_NASABAH
LEFT JOIN TR_TAGIH_SRT_BHRG_DJL_KEMB_B PREVMTH
	ON PREVMTH.NO_REK = DEAL.ACCOUNT_NUMBER+REPLACE(MM.DEAL_TIKET,'-','')
	AND PREVMTH.REPORT_DT = @PREV_MONTH_DT
WHERE MM.BUS_DT = @REPORT_DT


